* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

.wrapper {
  position: relative;
  height: 100vh;
}

.square {
  z-index: 1;
  position: absolute;
  background-color: #ffb534;
  right: 0;
  bottom: 0;
  top: 30%;
  left: 30%;
}

.description-text {
  position: absolute;
  left: 20%;
  top: 10%;
  z-index: 1000;
  max-width: 350px;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.image-wrapper {
  height: auto;
  width: 700px;
  position: absolute;
  z-index: 2;
  top: 10%;
  bottom: 10%;
  left: 40%;
  overflow: hidden;
}

.image {
  width: 100%;
  object-fit: cover;
}

.title-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1000;
  left: 20%;
  top: 50%;
  width: 600px;
  height: 270px;
  font-size: 2.5rem;
  background-color: #fff;
}

.title-text {
  max-width: 350px;
}

@media (max-width: 1700px) {
  .wrapper {
    display: flex;
  }

  .description-text {
    top: 10%;
    left: 18%;
  }

  .title-wrapper {
    height: 150px;
    width: 250px;
    left: 20%;
    width: 550px;
    height: 230px;
    font-size: 2.3rem;
  }

  .image-wrapper {
    width: 650px;
    height: auto;
    top: 18%;
  }
}

@media (max-width: 1600px) {
  .wrapper {
    display: flex;
  }

  .description-text {
    left: 15%;
  }

  .title-wrapper {
    left: 18%;
  }
}

@media (max-width: 1400px) {
  .wrapper {
    display: flex;
  }

  .description-text {
    left: 11%;
  }

  .title-wrapper {
    left: 14%;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    display: flex;
  }

  .description-text {
    left: 8%;
  }

  .title-wrapper {
    left: 10%;
  }
}

@media (max-width: 720px) {
  .wrapper {
    display: flex;
  }

  .square {
    top: 60%;
  }

  .description-text {
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    line-height: 1.2rem;
    width: 450px;
  }

  .title-wrapper {
    height: 150px;
    width: 250px;
    padding-left: 10px;
    top: 65%;
    left: 10%;
    font-size: 1.2rem;
  }

  .image-wrapper {
    width: 400px;
    height: 420px;
    left: 12%;
    top: 40%;
  }
}

@media (max-width: 450px) {
  .wrapper {
    display: flex;
  }

  .square {
    top: 60%;
  }

  .description-text {
    top: 3%;
    font-size: 1rem;
    width: 330px;
  }

  .image-wrapper {
    width: 300px;
    height: 350px;
    top: 35%;
  }
}
